:root{
    --primary: rgb(201,209,72);
    --primary-linear: linear-gradient(90deg, rgba(201,209,72,1) 0%, rgba(209,214,112,1) 50%, rgba(201,209,72,1) 100%);
    --secondary: #232f56;
}


body{
    background: rgb(201,209,72);
    background: linear-gradient(90deg, rgba(201,209,72,1) 0%, rgba(209,214,112,1) 50%, rgba(201,209,72,1) 100%);
}
.col-md-5.mx-auto img{
width:25%;
height: 25%;
margin: auto;
position: relative;
left:36%;
}

button.btn.btn-primary{
    background-color:#232f56
}

input.btn.btn-primary{
    background-color: #232f56
}
input.form-control{
    height: 2.7rem;
}
.page-grid{
    display:grid;
    grid-template-columns: 2fr 5fr 2fr;
    min-width: 100vw;
    min-height: 100vh;

}
div.post-section{
    background-color: #fff;
    height: inherit
}
div.add-post-btn.mb-3{
    display: flex;
    justify-content: flex-end;
}
.logo-container{
    width:100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img{

    width:50%;
    height: 50%;
}
.page-grid{
    display:grid;
    grid-template-columns: 1fr 8fr;

}
.sidebar{
    background-color: blue;
    width:100%;
    height: 100%;
}
.main{
    width:100%;
    height: 100%;
}
.navbar{
    width:100%; 
    height:10vh;
    background: var(--primary);
    background: var(--primary-linear);
    

}

.logo-sidebar{  
    width:100%;
    height: 20%;
    margin-bottom: 7%;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.logo-sidebar::after{
content:"";
position:absolute;
}
.logo-sidebar img {
    width: 50%;
    height: 50%;

}
.btn-toggle-nav li{
    margin-left: 15%;
}
.btn-toggle-nav li i{
margin-right: 2%;
}
.alumni-page-grid{
display: grid;
grid-template-columns: 3fr 10fr 3fr;
min-height: 100vh;
}
.alumni-sidebar{
    height: 100%;
    background-color: green;

}
.alumni-feed{
    height: 100%;
    background-color: blue;
    overflow-y: scroll;

}
.alumni-right{
    height: 100%;
    background-color: red;
}
.post-btn-section{
    padding-right: 1.3%;
    padding-top: 1.3%;
}
::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background: #888; 
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  }
  .navbar .right .nav-icons{
    list-style-type: none;
    display: inline-flex;
    /* margin-right:2%; */
    width: 70%;
    justify-self:flex-end;
   

  }
  .navbar .right .nav-icons li{
    margin-left: 5%;
  }
  .navbar .right .nav-icons li a{
text-decoration: none;
color: var(--secondary);
font-weight: bold;

  }

  .navbar .right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: 100%;

    
  }
  .navbar  .left{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 100%;
    width: 50%;

  }
  .navbar .left .top-search{
    height: 70%;
    width:100%;
  }
  .navbar  .left .nav-logo{
    width:100%;
    height: 100%;
    overflow: hidden;
    margin-left: 4%;
  }
  .navbar  .left .nav-logo img {

    height: 100%;
    width: 80%;
  }
