{% extends "base.html" %}
{% block main %}
<nav class="navbar">
<div class="left"> 
    <div class="nav-logo">
        <a href="{{url_for('alumni_bp.index')}}"><img src="{{url_for('static', filename='system/assets/AAKCAU-LOGO.svg')}}" alt="" sizes="" srcset=""></a>

    </div>
    <input type="text" class="form-control top-search" placeholder='search'>
</div> 
<div class="right">
    <ul class='nav-icons'>
        <li> <a href="{{url_for('alumni_bp.experience')}}"> <i class="fas fa-briefcase"></i> Experience </a></li>
       <li> <a href="{{url_for('alumni_bp.education')}}"><i class="fas fa-user-graduate"></i> Education </a></li>
      <li> <a href=""><i class="fas fa-bell"></i> Notifications </a></li> 
   <li><a href="{{url_for('alumni_bp.profile')}}"><i class="fas fa-user-circle"></i> </a></li>
    </ul> 
</div>
</nav>
<div class="alumni-page-grid">
    <div class="alumni-sidebar">
        <div class="people-section">
            <p class='mx-2 fw-bold'>Users</p>
            <div class="people-search"></div>
            <div class="people-display">

            </div>

        </div>
    </div>
    <div class="alumni-feed">

        {% block content %}
        
        
        
        
        {% endblock content %}
        
    </div>
 
<div class="alumni-right">
    <div class="events-section">
        <h4 >Events</h4>
        <div class="events-search"></div>
        <div class="events-display">

        </div>
    </div>
</div>

</div>


{% endblock main %}