{% extends "alumni/alumni-base-2.html" %} {% block body %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Experience </h5>
      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-delete-body">

      </div>
      <div class="modal-footer">
        <a  class="btn btn-danger delete-btn">Delete</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Experience</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method='POST'>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Start Date:</label>
              <input type="date" class="form-control" name="start-date">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">End Date:</label>
              <input type="date" class="form-control" name="end-date">
              
            </div>
            <div class="mb-3">
              <label for="" class="col-form-label">Organisation</label>
              <input type="text" name="organisation"  class="form-control">
            </div>
            <div class="mb-3">
              <label for="" class="col-form-label">Job Title</label>
              <input type="text" name="job-title"  class="form-control">
            </div>
            <div class="mb-3">
              <label for="" class="col-form-label">description</label>
              <textarea name="description"  class="form-control" rows=10 ></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Add experience</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<h3 class="text-center fw-bold">Experience</h3>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add Experience</button>
<div class="container">
  <div class="row mx-auto">
    <div class="col-md-10">
      <div class="table-responsive">
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
        <table class="table table-success table-hover">
          <thead>
            <tr>
              <td>Start Date</td>
              <td>End Date</td>
              <td>Organisation</td>
              <td>Job Title</td>
              <td>Description</td>
              <td>Actions</td>
            </tr>
          </thead>
          
          {% for experience in user_experience %}
          <tr>
            <td>{{experience.start_date}}</td>
            <td>{{experience.end_date}}</td>

            <td>{{experience.organisation}}</td>
            <td>{{experience.job_title}}</td>

            <td>{{experience.description[0:50]}} ...</td>
            <td> <button class="btn btn-sm btn-primary" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><button class="dropdown-item btn btn-sm btn-primary update-btn">Update</button></li>
                <li><button  class="dropdown-item btn btn-sm btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-details="{{experience.id}}/{{experience.job_title}}/{{experience.organisation}}">Delete</button></li>
              </ul></td>


          </tr>
            
          {% endfor %}
            
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block scripts %}
<script>
    const exampleModal = document.getElementById('exampleModal')
if (exampleModal) {
  exampleModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const recipient = button.getAttribute('data-bs-whatever')
    // If necessary, you could initiate an Ajax request here
    // and then do the updating in a callback.

    // Update the modal's content.
    const modalTitle = exampleModal.querySelector('.modal-title')
    const modalBodyInput = exampleModal.querySelector('.modal-body input')
  })
}


const deleteBtns = document.querySelectorAll('.delete-btn')
const updateBtns = document.querySelectorAll('.update-btn')

console.log(deleteBtns)
console.log(updateBtns)

deleteBtns.forEach( button => { 

button.addEventListener('click', (e)=> { 

  const [id, job_title,organisation ] = e.target.getAttribute('data-bs-details').split('/')
  console.log(id, job_title, organisation)
  const modalDeleteBody = document.querySelector('.modal-delete-body')
  const paragraph = `<p class='fw-bold ml-5'>Delete ${job_title} at ${organisation}</p>`
modalDeleteBody.innerHTML=paragraph 
const deleteButton = document.querySelector('.delete-btn')
const url=window.location.href.split('/').splice(0,4).join('/')+'/delete_experience/'+id
deleteButton.href=url

})



})

updateBtns.forEach( button => { 

  button.addEventListener('click', (e)=> { 
  console.log(e)
  
  })
  
  
  
  })
  



</script>

{% endblock scripts %}
