{% extends "base.html" %}
{% block main %}

<div class="page-grid">
<div class="sidebar">
    
    <ul class="list-unstyled ps-0">
        <div class="logo-sidebar">
    <img src="{{url_for('static',filename='system/assets/AAKCAU-LOGO.svg')}}" alt="" srcset="">

        </div>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="false">
          <i class="fas fa-tachometer-alt"></i>Dashboard
          </button>
          
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="true">
            <i class="far fa-user"></i> Users
          </button>
          <div class="collapse" id="users-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li> <i class="far fa-meh"></i> <a href="{{url_for('admin_bp.register_requests')}}" class="link-dark rounded">Register Requests</a></li>
              <li> <i class="fas fa-users"></i> <a href="{{url_for('admin_bp.users')}}" class="link-dark rounded">Users</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                <i class="far fa-comment-alt"></i> Posts
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><i class="far fa-plus-square"></i><a href="#" class="link-dark rounded">Create</a> </li>
                <li><i class="far fa-thumbs-up"></i><a href="#" class="link-dark rounded">Approved</a></li>
                <li> <i class="fas fa-spinner"></i><a href="#" class="link-dark rounded">Pending</a></li>
                <li> <i class="far fa-thumbs-down"></i><a href="#" class="link-dark rounded">Rejected</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#event-collapse" aria-expanded="false">
                <i class="far fa-calendar"></i> Events
            </button>
            <div class="collapse" id="event-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><i class="far fa-plus-square"></i><a href="#" class="link-dark rounded">New Event</a></li>
                <li><i class="far fa-calendar-alt"></i><a href="#" class="link-dark rounded">Upcoming Events</a> </li>
                <li><i class="fas fa-calendar-week"></i><a href="#" class="link-dark rounded">Past Events</a> </li>

              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#notification-collapse" aria-expanded="false">
                <i class="far fa-bell"></i> Notifications
            </button>
            <div class="collapse" id="notification-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><i class="fas fa-plus"></i> <a href="#" class="link-dark rounded">New Notifications</a></li>
                <li><i class="fas fa-bell"></i><a href="#" class="link-dark rounded">Notifications</a></li>
              </ul>
            </div>
          </li>
          
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#subscription-collapse" aria-expanded="false">
            <i class="far fa-money-bill-alt"></i> Subscriptions
          </button>
          <div class="collapse" id="subscription-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><i class="fas fa-wallet"></i> <a href="" class="link-dark rounded">All</a></li>
              <li><i class="fas fa-hands-helping"></i> <a href="" class="link-dark rounded">Paid</a></li>
              <li><i class="fas fa-spinner"></i><a href="#" class="link-dark rounded">Pending</a></li>

            </ul>
          </div>
        </li>

        
      </ul>
</div>

<div class="main">  
    <div class="navbar">
        
    </div>
    {% block content %}
    
    
    
    {% endblock content %}
    
    
</div>



</div>



{% endblock main %}