{% extends 'base.html' %}
{% block main %}
<div class="container-fluid">
<div class="row">

    <div class="col-md-5 mx-auto">
        <h3>Confirm Email</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">          

            {% for category, message in messages %}
            {% if category=='resent' %}
            <strong>{{ message }}</strong> 
            {% else %}
            
            <strong>{{ message }}</strong>
            <a href="{{url_for('auth.resend_confirmation_code')}}" class="btn btn-sm btn-outline-success">Resend Email</a>
            {% endif %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            {% endif %}
            {% endwith %}
        <form action="{{url_for('auth.confirm_email')}}" method="POST" >
            <label for="confirmation_code" class="'form-label">Confirmation Code</label>
            {% if code  %}
            <input type="text" name="confirmation_code" id="confirmation_code" class="form-control" value={{code}}>
              {% else %}
            <input type="text" name="confirmation_code" id="confirmation_code" class="form-control">
            {% endif %}
            <br>
            <input type="submit" value="Confirm Email" class ='btn btn-primary btn-sm'>
        </form>
    </div>
    </div>
</div>
{% endblock main %}