{% if user.role[0].name == 'nusring' %}
  
{% extends 'users/user-dashboard.html' %}

{% else %}
  
{% extends 'teas/teas_dashboard.html' %}

{% block main %}
<div class="col-md-6 mx-auto">
    <h4>Your Profile</h4>
    <div class="profile-photo">
        {% if profile %}
      
        <img src="{{url_for('static', filename='uploads/system/'+profile.photo_url)}}" alt="" srcset="">
    </div>
    <p>Title: {{profile.title. value}}</p>
    <p>First Name: {{profile.first_name}}</p>
    <p>Last Name: {{profile.last_name}}</p>
    
    {% endif %}
    <a href="{{url_for('auth.update_profile')}}" class="btn btn-primary btn-sm ">Update Profile</a>
</div>
{% endblock main %}
{% endif %}


