{% extends "base.html" %} {% block main %}

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <h2 class="text-center">Firm Roots AES</h2>
      <div class="logo-container mx-auto">
        <img
          src="{{url_for('static',filename='system/assets/AAKCAU-LOGO.svg')}}"
          alt=""
          srcset=""
        />
      </div>
      <h4 class="text-center fw-bold mt-4">Registration Request</h4>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong>{{ message }}</strong>

        {% endfor %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% endwith %}
      <form method="POST" class="form">
        {{form.hidden_tag()}} {{form.email.label()}}
        {{form.email(class='form-control')}} <br /><br />
        {{form.title.label()}} {{form.title(class='form-select')}} <br /><br />

        {{form.first_name.label()}} {{form.first_name(class='form-control')}}
        <br /><br />
        {{form.last_name.label()}} {{form.last_name(class='form-control')}}
        <br /><br />
        {{form.school.label()}} {{form.school(class='form-control')}}
        <br /><br />

        {{form.submit(class='btn btn-primary w-100 btn-sm py-3')}}
      </form>
    </div>
  </div>
</div>

{% endblock main %}
