{% extends 'base.html' %}
{% block main %}
  <div class="container_fluid">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <h3 class="h3">Reset Password </h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category=='success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">          

            <strong>{{ message }}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif category=='failure' %}
            
            <div class="alert alert-warning alert-dismissible fade show" role="alert">          

                <strong>{{ message }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
                {% endif %}
            {% endfor %}
            {% endif %}
           {% endwith %}
            <form action="{{url_for("auth.reset_password")}}" method="POST">
                <label for="email" class="form-label">Enter Email</label>
                <input type="text" name="email" id="" required class="form-control">
                <br>
                <input type="submit" value="Send Reset Email" class="btn btn-primary">
                
            </form>
            
                    </div>
                </div>
              </div>
{% endblock main %}